
<!-- NAVBAR -->
<header><div class="navbar-inner-app">
	<div class="navbar">
		<div class="container">
			
				<div class="navbar-header">
					<a href="/">
					<img src="assets/img/porc-logo-header.png">
					</a>
				</div> 

				<ul class="nav navbar-nav nav-center">
					<li >
						<a href="#" ui-sref="app.overview" class="{{ app.isActive('app.overview') }}">
							<span class="glyphicon glyphicon-dashboard section-icon"></span>
							<span class="section-title">Overview</span>
						</a>
					</li>
					<li>
						<a href="#" ui-sref="app.entries" class="{{ app.isActive('app.entries') }}">
							<span class="glyphicon glyphicon-credit-card section-icon"></span>
							<span class="section-title">Entries</span>
						</a>
					</li>
					<li>
						<a href="#" ui-sref="app.budgets" class="{{ app.isActive('app.budgets') }}">
							<span class="glyphicon glyphicon-briefcase section-icon"></span>
							<span class="section-title">Budgets</span>
						</a>
					</li>
					<li>
						<a href="#" ui-sref="app.reports" class="{{ app.isActive('app.reports') }}">
							<span class="glyphicon glyphicon-signal section-icon"></span>
							<span class="section-title">Reports</span>
						</a>
					</li>
					</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right" style="">
					
					<li ><a href="/#" ng-click="main.openDialogB()" class="config-btn"><span class="glyphicon glyphicon-cog"></span></a></li>
					<li class="login"><a href="#" ng-click="main.doLogout()">
						<span class="login-btn">Logout</span>
					</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>

<div class="app-main" ui-view></div>