
<!-- NAVBAR -->
<header>
	<div class="navbar">
	<div class="container">
		<div class="navbar-header">
			<a href="/">
			<img src="assets/img/porc-logo-header.png">
			</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li ><a href="/#" ng-click="main.openDialogB()">Join</a></li>
			<li class="login" ng-if="!main.loggedIn"><a ui-sref="login">
				<span class="login-btn">Login</span>
			</a></li>
			<li class="login" ng-if="main.loggedIn"><a href="#" ng-click="main.doLogout()">
				<span class="login-btn">Logout</span>
			</a></li>
		</ul>
	</div>
	</div>
</header>

<div class="presentation" ui-view></div>