<div class="filters">
	<div class="main-picker">
		<a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
		Today
		<a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>

	<!-- <div class="inner">
	  <i class="glyphicon glyphicon-user"></i>
	  <input type="text" class="form-control">
	</div> -->
</div>

<div class="container">

	<div class="card col-md-6" id="latest-entries">
		<div class="card-highlight row"></div>
		<div class="card-body">
			<h1>
				Latest entries
			</h1>

			<a href="/entries/create" class="rounded-btn">
				<span class="glyphicon glyphicon-plus"></span>
			</a>

			<hr class="full">

			<div class="text-center" ng-show="overview.processing">
				<span class="glyphicon glyphicon-repeat spinner"></span>
				<p>Loading overview...</p>
			</div>

			<div ng-show="overview.transactions">
				<!-- <thead>
					<tr>
						<th>Amount</th>
						<th>isExpense</th>
						<th>Description</th>
						<th>Name</th>
						<th>Tags</th>
						<th>Date</th>
						<th class="col-sm-2"></th>
					</tr>
				</thead> -->
				<div ng-repeat="tran in overview.transactions">
					<div>{{tran.date}}</div>
					<span style="float: right">{{tran.amount}}</span>
					<!-- <span>{{tran.isExpense}}</span> -->
					<span>{{tran.description}}</span>
					<span>{{tran.name}}</span>
					
					<div class="tags">
						<span ng-repeat="tag in tran.tags">{{tag.name}} </span>
					</div>
					<hr class="full">
					

					<!-- <span class="col-sm-2">
						<a ng-href="/entries/{{ tran._id }}" class="btn btn-primary">Edit</a>
						<a href="#" ng-click="user.deleteTransaction(tran._id)" class="btn btn-danger">Delete</a>
					</span> -->
				</div>
			</div>


		</div>
	</div>
</div>
